@font-face {
  font-family: "Rubik";
  src: url(/hp/fonts/Rubik-Black.ttf);
  font-weight: 900;
}
@font-face {
  font-family: "Rubik";
  src: url(/hp/fonts/Rubik-BlackItalic.ttf);
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: "Rubik";
  src: url(/hp/fonts/Rubik-Bold.ttf);
  font-weight: 700;
}
@font-face {
  font-family: "Rubik";
  src: url(/hp/fonts/Rubik-BoldItalic.ttf);
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "Rubik";
  src: url(/hp/fonts/Rubik-Regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: "Rubik";
  src: url(/hp/fonts/Rubik-Italic.ttf);
  font-style: italic;
}
@font-face {
  font-family: "Rubik";
  src: url(/hp/fonts/Rubik-Light.ttf);
  font-weight: 300;
}
@font-face {
  font-family: "Rubik";
  src: url(/hp/fonts/Rubik-LightItalic.ttf);
  font-weight: 300;
  font-style: italic;
}
/* COMMON */
body,
html {
  font-family: Rubik;
  color: #14161c;
  font-size: 16px;
  font-weight: 200;
}

/* MEDIA QUERIES */
/* Mobile */
@media (max-width: 575px) {
  :root {
    font-size: 12px;
  }
}
@media (min-width: 576px) {
  :root {
    font-size: 12px;
  }
}
/* Desktop */
@media (min-width: 768px) {
  :root {
    font-size: 7px;
  }
}
@media (min-width: 850px) {
  :root {
    font-size: 8px;
  }
}
@media (min-width: 992px) {
  :root {
    font-size: 9px;
  }
}
@media (min-width: 1100px) {
  :root {
    font-size: 10px;
  }
}
@media (min-width: 1300px) {
  :root {
    font-size: 12px;
  }
}
@media (min-width: 1500px) {
  :root {
    font-size: 14px;
  }
}
@media (min-width: 1800px) {
  :root {
    font-size: 16px;
  }
}
/* MAIN */
.main-container {
  margin: auto;
  overflow: hidden;
}

.TopMenu {
  position: relative;
  z-index: 2;
  padding: 10px 0px;
  border-bottom: 2px solid #ffcf07;
}

.TopMenu .flag-dropdown ul {
  min-width: auto;
  background-color: #282828;
  left: auto;
  right: 0;
}

.TopMenu .navbar-right {
  float: right;
}

.TopMenu .navbar-right .navbar-text {
  margin-right: 15px;
  margin-bottom: 0px;
  width: 100%;
  text-align: right;
}

@media (max-width: 767px) {
  .TopMenu .navbar-right .custom-position-flag {
    width: 100%;
    text-align: right;
  }
}
.TopMenu .custom-dropdown-flags > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: 400;
  line-height: 1.42857143;
  color: #333;
  white-space: nowrap;
}

@media (max-width: 767px) {
  .TopMenu .navbar {
    padding: 1rem;
  }
}
.TopMenu .logo {
  width: 2.8125rem;
}

.TopMenu .menu {
  position: relative;
  min-height: 3.4375rem;
}

.TopMenu .menu > .nav-item.active {
  font-weight: 500;
}

.TopMenu .menu .nav-link {
  height: 100%;
  font-size: 1rem;
  color: #7f828a;
}

.TopMenu .menu #magic-line {
  position: absolute;
  bottom: 0;
  background-color: #ffb504;
  height: 3px;
  width: 39px;
  border-radius: 1px;
  -ms-transform: rotate(0deg);
  /* IE 9 */
  -webkit-transform: rotate(0deg);
  /* Chrome, Safari, Opera */
  transform: rotate(0deg);
}

@media (max-width: 767px) {
  .TopMenu {
    padding-top: 0;
    background: #ffcf07;
  }

  .TopMenu .menu {
    margin-top: 1rem;
  }
}
.Revollet {
  position: relative;
  z-index: 1;
}

.Revollet__title {
  text-align: center;
  margin-top: 80px;
}

.Revollet__title > h1 {
  font-weight: 400;
  font-size: 60px;
  color: #747685;
}

@media (max-width: 767px) {
  .Revollet__title > h1 {
    font-weight: 600;
    font-size: 40px;
  }
}
@media (max-width: 425px) {
  .Revollet__title > h1 {
    font-weight: 600;
    font-size: 20px;
  }
}
.Revollet__leftSide {
  padding-top: 8.75rem;
  position: relative;
  z-index: 2;
}

.Revollet__icon {
  width: 4.875rem;
}

.Revollet__introduce {
  margin-top: 0.625rem;
}

.Revollet__introduce h2 {
  font-size: 7.5rem;
  font-weight: 300;
  letter-spacing: -1.52px;
  line-height: 2.875rem;
  margin-bottom: 3.75rem;
  text-align: center;
}

.Revollet__introduce .signup-link {
  text-align: center;
  width: 100%;
}

.Revollet__introduce .signup-link img {
  max-width: 100%;
}

.Revollet__rightSide {
  padding-top: 5rem;
  position: relative;
  z-index: 1;
}

.Revollet__dashboard {
  width: 100%;
  position: relative;
  z-index: 3;
}

.Revollet__circle {
  width: 120%;
  position: absolute;
  top: 0rem;
  right: 0;
  z-index: 1;
}

@media (max-width: 767px) {
  .Revollet__leftSide {
    padding-top: 5rem !important;
  }

  .Revollet__rightSide {
    padding-top: 0.625rem !important;
    max-width: none;
  }

  .Revollet__circle {
    display: none;
  }
}
.Support {
  position: relative;
  background: #ffcf07;
  padding-top: 7.5rem;
  padding-bottom: 6.5625rem;
  overflow: hidden;
}

.Support > .container-fluid {
  position: relative;
  z-index: 2;
}

.Support__bg {
  max-width: 51.25rem;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  right: 0;
  margin: auto;
  z-index: 1;
}

.Support__bg img {
  width: 100%;
}

.Support__main {
  text-align: left;
}

.Support__title {
  text-align: center;
  font-weight: 400;
  font-size: 3.125rem;
  letter-spacing: -1.19px;
  margin-bottom: 2.8125rem;
}

.Support__subTitle {
  margin-bottom: 2.1875rem;
  font-size: 1.25rem;
}

.Support__faq {
  margin-top: 2.5rem;
  background: #fff;
  font-size: 1rem;
  font-weight: 500;
  padding: 0.875rem 1.5rem;
}

.Support__faq:before {
  content: "";
  display: inline-block;
  width: 0.8125rem;
  height: 0.8125rem;
  background: url("/hp/img/icons/faq.svg") 0 0 no-repeat;
  background-size: cover;
  margin-right: 1.25rem;
}

.Footer {
  background: #272a32;
  color: #fff;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

.Footer__warning {
  text-align: center;
}

.Footer__warning__risks {
  opacity: 0.8;
  margin-bottom: 0px;
}

.Campaign {
  padding: 40px 0px;
  position: relative;
}

.Campaign .line {
  position: absolute;
  height: 4px;
  background: #ffd007;
  left: 0;
  right: 0;
  top: 50%;
}

.Campaign__wrapper {
  text-align: center;
}

.Campaign__wrapper > img {
  width: 100%;
}

.Campaign__wrapper .banner-mobile {
  display: none;
}

@media (max-width: 767px) {
  .Campaign .line {
    height: 30vh;
  }

  .Campaign__wrapper .banner-des-tab {
    display: none;
  }

  .Campaign__wrapper .banner-mobile {
    display: block;
  }
}
@media (max-width: 767px) {
  .Campaign {
    padding: 20px 0px;
  }
}
.R-card {
  padding: 40px 0px;
}

.R-card__wrappertitle {
  width: 100%;
  overflow: hidden;
  margin: 20px 0px;
}

.R-card__wrappertitle img {
  width: 100%;
  margin: 0px 0px;
}

.R-card__subTitle {
  font-size: 16px;
}

.R-card__card {
  border-radius: 15px;
  text-align: center;
}

.R-card__card img {
  margin: 20px auto;
  height: 100px;
  width: auto;
}

.R-card__card .card-left .wrapper-img img {
  height: 100px;
  width: auto;
}

.R-card__card .card-right .wrapper-title {
  text-align: left !important;
}

.R-card__card .card-right .wrapper-content .remove-border {
  border: none !important;
}

.R-card__card .card-right .wrapper-content .remove-border .card-title {
  font-weight: 200;
}

.R-card__card .card-right .wrapper-content .remove-border .card-title span {
  font-weight: 500;
}

.R-card__card .card-right .wrapper-content .remove-border .card-img-top {
  height: 100px;
  width: auto;
}

.R-card__card .card-right .wrapper-content .remove-border .set-w300 {
  width: 100%;
  height: 100%;
  max-width: 400px;
}

.R-card__card .card-right .wrapper-content .remove-border .set-w {
  height: 100%;
  width: 100% !important;
}

.R-card__card .card-right .wrapper-content .remove-border .trsp-btn {
  color: rgba(0, 0, 0, 0.75);
  background-color: #ffd008;
  font-size: 14px;
  font-weight: 400;
  padding: 12px 42px 12px 42px;
  max-width: 200px;
  margin: 0 auto;
  margin-top: 23px;
}

.R-card__card-icon {
  border: none !important;
}

.R-card__card-icon .tri-icon {
  height: 80px;
  width: auto;
}

.R-card__card-icon .tri-icon-down {
  height: 50px;
  display: none;
}

@media (max-width: 767px) {
  .R-card__card-icon .tri-icon-left {
    display: none;
  }

  .R-card__card-icon .tri-icon-down {
    display: block;
  }
}
.Contact {
  margin: 20px 0px;
  padding: 20px 0px;
}

.Contact .wrapper-btn {
  margin: 0 auto;
  text-align: center;
}

.Contact .wrapper-btn > a {
  width: 100%;
  overflow: hidden;
  text-align: center;
}

.Contact .wrapper-btn > a img {
  max-width: 80%;
}

/*# sourceMappingURL=styles.css.map */
/*# sourceMappingURL=styles.css.map */
/*# sourceMappingURL=styles.css.map */
/*# sourceMappingURL=styles.css.map */
/*# sourceMappingURL=styles.css.map */
/*# sourceMappingURL=styles.css.map */
/*# sourceMappingURL=styles.css.map */
/*# sourceMappingURL=styles.css.map */
/*# sourceMappingURL=styles.css.map */
/*# sourceMappingURL=styles.css.map */
/*# sourceMappingURL=styles.css.map */
/*# sourceMappingURL=styles.css.map */
/*# sourceMappingURL=styles.css.map */
/*# sourceMappingURL=styles.css.map */
/*# sourceMappingURL=styles.css.map */
/*# sourceMappingURL=styles.css.map */
/*# sourceMappingURL=styles.css.map */
/*# sourceMappingURL=styles.css.map */
/*# sourceMappingURL=styles.css.map */
/*# sourceMappingURL=styles.css.map */
/*# sourceMappingURL=styles.css.map */
/*# sourceMappingURL=styles.css.map */
/*# sourceMappingURL=styles.css.map */
/*# sourceMappingURL=styles.css.map */
/*# sourceMappingURL=styles.css.map */
/*# sourceMappingURL=styles.css.map */
/*# sourceMappingURL=styles.css.map */
/*# sourceMappingURL=styles.css.map */
/*# sourceMappingURL=styles.css.map */
/*# sourceMappingURL=styles.css.map */
/*# sourceMappingURL=styles.css.map */
/*# sourceMappingURL=styles.css.map */
/*# sourceMappingURL=styles.css.map */
/*# sourceMappingURL=styles.css.map */
/*# sourceMappingURL=styles.css.map */
/*# sourceMappingURL=styles.css.map */
/*# sourceMappingURL=styles.css.map */
/*# sourceMappingURL=styles.css.map */
/*# sourceMappingURL=styles.css.map */
/*# sourceMappingURL=styles.css.map */
/*# sourceMappingURL=styles.css.map */
/*# sourceMappingURL=styles.css.map */
/*# sourceMappingURL=styles.css.map */
/*# sourceMappingURL=styles.css.map */
/*# sourceMappingURL=styles.css.map */
/*# sourceMappingURL=styles.css.map */
/*# sourceMappingURL=styles.css.map */
/*# sourceMappingURL=styles.css.map */
/*# sourceMappingURL=styles.css.map */
/*# sourceMappingURL=styles.css.map */
/*# sourceMappingURL=styles.css.map */
/*# sourceMappingURL=styles.css.map */
/*# sourceMappingURL=styles.css.map */
/*# sourceMappingURL=styles.css.map */
/*# sourceMappingURL=styles.css.map */
/*# sourceMappingURL=styles.css.map */
/*# sourceMappingURL=styles.css.map */
/*# sourceMappingURL=styles.css.map */
/*# sourceMappingURL=styles.css.map */
/*# sourceMappingURL=styles.css.map */
/*# sourceMappingURL=styles.css.map */
/*# sourceMappingURL=styles.css.map */
/*# sourceMappingURL=styles.css.map */
/*# sourceMappingURL=styles.css.map */
/*# sourceMappingURL=styles.css.map */

/*# sourceMappingURL=styles.css.map */
